.container-fluid{
  background-color: blue;
}

.navbar{
  margin-bottom: 0px;

}

.jumbotron{
  background-image: url("images/blacksand.png");
  background-size: cover;
  margin: 0px;
}
.jumbotron h2{
  color:#fff;
  border:2px solid white;
  background-color:#999999;
  border-radius: 10px;
}
.name{
  border: 5px;
}
 #Logaraj{
   font-size: 80px;
   color: #740001;
 }
 @media screen and (max-width:425px) {
   #Logaraj{
     font-size: 60px;
   }
 }

.profileimg{
  margin: auto;
  width: 70%;
  display: block;
  padding: 20px;
  border-radius:50px;
}

#summary{
  padding: 0 20px;
  color: white;
}
#summaryprofile{
  background-color: rgb(85,85,85);
}
